---
import Section from '../Section.astro'
import { skills } from '@cv'
---

<Section title="Skills">
	<div>
		{
			skills.map(({ keywords }) => {
				return keywords.map((k) => <span class="tag">{k}</span>)
			})
		}
	</div>
</Section>

<style>
	div {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    --color-tag-color: var(--color-deep-sea-50);
    --color-tag-backround: var(--color-deep-sea-500);
  }
</style>
