---
import Section from '../Section.astro'
import { skills } from '@cv'

const personalSkills = skills.filter((skill) =>
	skill.keywords.includes('personal')
)
const professionalSkills = skills.filter(
	(skill) => !skill.keywords.includes('personal')
)
---

<Section title="Skills">
	<h3>Personal</h3>
	<ul>
		{
			personalSkills.map(({ name }) => {
				return (
					<li>
						<span>{name}</span>
					</li>
				)
			})
		}
	</ul>
	<h3>Professional</h3>
	<ul>
		{
			professionalSkills.map(({ name }) => {
				return (
					<li>
						<span>{name}</span>
					</li>
				)
			})
		}
	</ul>
</Section>

<style>
	h3 {
		font-size: 1.4rem;
		font-weight: 700;
		margin: 16px 0;
	}

	ul {
		list-style: disc;
		list-style-position: inside;
	}

	li {
		font-size: 0.8rem;
		font-weight: 500;
		padding: 0.2rem 0.6rem;
	}
</style>
