---
import Layout from '@/layouts/Layout.astro'

import About from '@/components/sections/About.astro'
import Education from '@/components/sections/Education.astro'
import Experience from '@/components/sections/Experience.astro'
import Hero from '@/components/sections/Hero.astro'
import Skills from '@/components/sections/Skills.astro'
import KeyboardManager from '@/components/KeyboardManager.astro'
import Languages from '@/components/sections/Languages.astro'
import Projects from '@/components/sections/Projects.astro'
import CaseStudies from '@/components/sections/CaseStudies.astro'

import { basics } from '@cv'
const { name, label } = basics
---

<Layout title={`Portfolio of: ${name} - ${label}`}>
	<main>
		<article>
      <Hero />
      <About />
      <CaseStudies/>
			<Experience />
      <Education />
      <Skills />
      <Languages />
      <Projects/>
		</article>
	</main>
	<KeyboardManager />
</Layout>

<style>
	main {
		padding: 2rem 1rem;
		margin: auto;
		width: 100dvw;
		max-width: 1024px;
		display: flex;
		gap: 16px;
	}

	article {
		width: 100dvw;
	}
</style>
