---
// se ejecuta en el servidor o en build time <----
const { title } = Astro.props
---

<section>
  {title && (
  <h2>{title}</h2>
  <hr/>
  )}
  <slot />
</section>

<script>
  // se ejecuta en el cliente <----
</script>

<style>
  section {
    max-width: 700px;
    margin: 0 auto 48px;
  }

  h2 {
    margin-bottom: 8px;
    font-weight: 700;
    line-height: 1.6;
    font-size: 1.6rem;
  }

  hr{
    width: 40px;
    height: 4px;
    background: var(--color-custom-blue-700);
    margin-bottom: 16px;
  }

  @media print{
    hr {
    -webkit-print-color-adjust: exact; /* Chrome/Safari */
    print-color-adjust: exact; /* Estándar */
    color-adjust: exact; /* Firefox */
  }
  }
</style>
